## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hofn,IS,64.2539,-15.2082,47.80,82,99,6.22,overcast clouds,2022-06-02 03:39:09
1,1,Rikitea,PF,-23.1203,-134.9692,77.13,82,68,22.91,broken clouds,2022-06-02 03:39:10
2,2,Iqaluit,CA,63.7506,-68.5145,35.33,64,20,2.30,few clouds,2022-06-02 03:39:10
3,3,Ambilobe,MG,-13.2000,49.0500,72.18,72,72,1.28,broken clouds,2022-06-02 03:39:11
4,4,Deputatskiy,RU,69.3000,139.9000,49.48,45,3,6.35,clear sky,2022-06-02 03:39:12

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_city_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
new_city_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Rikitea,PF,-23.1203,-134.9692,77.13,82,68,22.91,broken clouds,2022-06-02 03:39:10
3,3,Ambilobe,MG,-13.2000,49.0500,72.18,72,72,1.28,broken clouds,2022-06-02 03:39:11
12,12,Dasoguz,TM,41.8363,59.9666,78.75,36,0,6.91,clear sky,2022-06-02 03:39:18
15,15,Vila Do Maio,CV,15.1333,-23.2167,75.99,85,86,17.98,overcast clouds,2022-06-02 03:39:20
20,20,Hamilton,US,39.1834,-84.5333,72.99,88,95,1.99,overcast clouds,2022-06-02 03:34:39
...,...,...,...,...,...,...,...,...,...,...,...
650,650,Caravelas,BR,-17.7125,-39.2481,72.36,93,7,1.48,clear sky,2022-06-02 04:00:57
659,659,Bani,DO,18.2833,-70.3333,76.08,86,88,4.94,overcast clouds,2022-06-02 04:01:11
661,661,Isla Mujeres,MX,21.2311,-86.7310,77.16,81,100,22.06,overcast clouds,2022-06-02 04:01:13
669,669,Maceio,BR,-9.6658,-35.7353,72.84,94,75,4.61,mist,2022-06-02 04:01:20
673,673,Charters Towers,AU,-20.1000,146.2667,77.54,34,74,6.40,broken clouds,2022-06-02 04:01:24

In [5]:
# 4a. Determine if there are any empty rows.
new_city_df.count()

City_ID                162
City                   162
Country                162
Lat                    162
Lng                    162
Max Temp               162
Humidity               162
Cloudiness             162
Wind Speed             162
Current Description    162
Date                   162
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = new_city_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Rikitea,PF,-23.1203,-134.9692,77.13,82,68,22.91,broken clouds,2022-06-02 03:39:10
3,3,Ambilobe,MG,-13.2000,49.0500,72.18,72,72,1.28,broken clouds,2022-06-02 03:39:11
12,12,Dasoguz,TM,41.8363,59.9666,78.75,36,0,6.91,clear sky,2022-06-02 03:39:18
15,15,Vila Do Maio,CV,15.1333,-23.2167,75.99,85,86,17.98,overcast clouds,2022-06-02 03:39:20
20,20,Hamilton,US,39.1834,-84.5333,72.99,88,95,1.99,overcast clouds,2022-06-02 03:34:39
...,...,...,...,...,...,...,...,...,...,...,...
650,650,Caravelas,BR,-17.7125,-39.2481,72.36,93,7,1.48,clear sky,2022-06-02 04:00:57
659,659,Bani,DO,18.2833,-70.3333,76.08,86,88,4.94,overcast clouds,2022-06-02 04:01:11
661,661,Isla Mujeres,MX,21.2311,-86.7310,77.16,81,100,22.06,overcast clouds,2022-06-02 04:01:13
669,669,Maceio,BR,-9.6658,-35.7353,72.84,94,75,4.61,mist,2022-06-02 04:01:20
673,673,Charters Towers,AU,-20.1000,146.2667,77.54,34,74,6.40,broken clouds,2022-06-02 04:01:24

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,77.13,broken clouds,-23.1203,-134.9692,
3,Ambilobe,MG,72.18,broken clouds,-13.2000,49.0500,
12,Dasoguz,TM,78.75,clear sky,41.8363,59.9666,
15,Vila Do Maio,CV,75.99,overcast clouds,15.1333,-23.2167,
20,Hamilton,US,72.99,overcast clouds,39.1834,-84.5333,
25,Alofi,NU,78.69,scattered clouds,-19.0595,-169.9187,
26,Caucaia,BR,76.95,overcast clouds,-3.7361,-38.6531,
33,Kahului,US,79.97,scattered clouds,20.8947,-156.4700,
38,Fundacion,CO,74.91,broken clouds,10.5207,-74.1850,
45,Airai,TL,71.73,scattered clouds,-8.9266,125.4092,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat =row['Lat']
    lng =row['Lng']
    params['location'] = f'{lat},{lng}'
#     print(params)
 
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
#     print(hotels)
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name']= hotels['results'][0]['name'] 
    except (IndexError):
        print('Not Found Skip')

Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip
Not Found Skip

In [9]:
# 7. Drop the rows where there is no Hotel Name.
name_list_df = hotel_df[hotel_df['Hotel Name']!='']
name_list_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,77.13,broken clouds,-23.1203,-134.9692,People ThankYou
3,Ambilobe,MG,72.18,broken clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
12,Dasoguz,TM,78.75,clear sky,41.8363,59.9666,Hotel Erik
15,Vila Do Maio,CV,75.99,overcast clouds,15.1333,-23.2167,Hotel Marilu
20,Hamilton,US,72.99,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
25,Alofi,NU,78.69,scattered clouds,-19.0595,-169.9187,Taloa Heights
26,Caucaia,BR,76.95,overcast clouds,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
33,Kahului,US,79.97,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
38,Fundacion,CO,74.91,broken clouds,10.5207,-74.1850,Ganaderia Zoogan
47,Nargana,PA,78.58,overcast clouds,9.4428,-78.5906,Dubbir

In [10]:
# 8a. Create the output File (CSV)
# output_file = 'Vacation_Search.csv'
# # 8b. Export the City_Data into a csv
# name_list_df.to_csv(output_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in name_list_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = name_list_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# gmaps.marker_layer(locations, hover_text='', label='', info_box_content=None, display_info_box=None)

fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))